html, body {
  margin: 0;
}

#map {
  width: 100vw;
  height: 100vh;
}

#info {
  position: fixed;
  top: 0;
  left: 0;
  font-size: 24px;
  font-family: Helvetica, Arial, sans-serif;
  padding: 12px;
  background-color: black;
  color: white;
}